<a href="https://colab.research.google.com/github/trinnawat/colab_play/blob/master/BOT_FX.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [121]:
!pip install dateparser

Collecting dateparser
  Downloading https://files.pythonhosted.org/packages/ad/0c/aba72d8454c28ab3800f3efd1ab3fe4f3fa41eb2746adc0cdcb318200796/dateparser-0.7.4-py2.py3-none-any.whl (353kB)
     |████████████████████████████████| 358kB 3.5MB/s
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from dateparser) (2.8.1)
Requirement already satisfied: regex!=2019.02.19 in /usr/local/lib/python3.6/dist-packages (from dateparser) (2019.12.20)
Requirement already satisfied: pytz in /usr/local/lib/python3.6/dist-packages (from dateparser) (2018.9)
Requirement already satisfied: tzlocal in /usr/local/lib/python3.6/dist-packages (from dateparser) (1.5.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil->dateparser) (1.12.0)
Installing collected packages: dateparser
Successfully installed dateparser-0.7.4

In [0]:
import pandas as pd
from dateparser.search import search_dates
import re

In [0]:
df_list = pd.read_html("https://www.bot.or.th/English/Statistics/FinancialMarkets/ExchangeRate/_layouts/Application/ExchangeRate/ExchangeRate.aspx")

# **Foreign Exchange Rates as of**

In [138]:
search_dates(df_list[1].iloc[4][0])[0][1].strftime("%d %b %Y")

'20 May 2020'

In [151]:
df_list[1].iloc[4][0]

'Foreign Exchange Rates as of 20 May 2020  Weighted-average Interbank Exchange Rate = 31.878 Baht/US Dollar'

# **Average Counter Rates Quoted by Commercial Banks**

In [98]:
tb_1 = df_list[2]
tb_1 = tb_1[tb_1.columns[1:6]]
tb_1.columns = ['Country', 'Currency', 'Average Buying Rates - Sight Bill', 'Average Buying Rates - Transfer', 'Average Selling Rates']
tb_1 = tb_1.iloc[3:]
tb_1.reset_index(drop=True, inplace=True)
tb_1.head()

           Country  ... Average Selling Rates
0    UNITED STATES  ...               32.0531
1   UNITED KINGDOM  ...               39.5500
2        EURO ZONE  ...               35.2462
3  JAPAN (100 Yen)  ...               29.9694
4        HONG KONG  ...                4.1579

[5 rows x 5 columns]

## **Foreign Exchange Rates (THOMSON REUTERS) with Bangkok Market Crossing**

In [101]:
tb_2 = df_list[3]
tb_2 = tb_2[tb_2.columns[1:5]]
tb_2.columns = ['Country',	'Currency',	'Buying Rates',	'Selling Rates']
tb_2 = tb_2.iloc[2:]
tb_2.reset_index(drop=True, inplace=True)
tb_2.head()

              Country Currency Buying Rates Selling Rates
0              MEXICO      MXN       1.3391        1.3535
1        SOUTH AFRICA      ZAR       1.7297        1.7484
2  KOREA, REPUBLIC OF      KRW       0.0259        0.0262
3              TAIWAN      TWD       1.0590        1.0704
4              KUWAIT      KWD     102.6933      103.7989